# Ignore everything by default
*
*/**

# Allow directories
!*/
!docs/
!images/

# Allow configuration, styles and metadata
!.gitignore
!.nojekyll
!_quarto.yml
!styles.css

# Allow files inside images and docs
!images/**
!docs/**

/.quarto/
